doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js', type='text/javascript')
    script(src='/javascripts/ejs_fulljslint.js')
    script(src='/javascripts/ejs_production.js')
    script(src='/javascripts/shfbs.js')
  body
    #fb-root
    script
      window.fbAsyncInit = function() {
        // init the FB JS SDK
        FB.init({
          appId      : '183917291750759', // App ID from the App Dashboard
          channelUrl : '//superhumanfbs.com/channel.html', // Channel File for x-domain communication
          status     : true, // check the login status upon init?
          cookie     : true, // set sessions cookies to allow your server to access the session?
          xfbml      : true  // parse XFBML tags on this page?
        });

        //If we are loggin in on startup, this will be triggered
        FB.Event.subscribe('auth.authResponseChange', function(response) {
          if(response.status==='connected'){
            start();
          }
        });

      };

      // Load the SDK's source Asynchronously
      // Note that the debug version is being actively developed and might 
      // contain some type checks that are overly strict. 
      // Please report such bugs using the bugs tool.
      (function(d, debug){
         var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement('script'); js.id = id; js.async = true;
         js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
         ref.parentNode.insertBefore(js, ref);
       }(document, /*debug*/ false));
    block content
